bin
obj
.vscode
ball_tracking
publish
/.vs/gspro-r10/DesignTimeBuild/.dtbcache.v2
/.vs/gspro-r10/FileContentIndex/09584de5-bae1-4efa-9695-231cac201c9f.vsidx
/.vs/gspro-r10/FileContentIndex/2f63a05f-7b1a-4d47-92f2-ddb68739a251.vsidx
/.vs/gspro-r10/v17/TestStore/0/000.testlog
/.vs/gspro-r10/v17/TestStore/0/testlog.manifest
/.vs/ProjectEvaluation/gspro-r10.metadata.v7.bin
/.vs/ProjectEvaluation/gspro-r10.projects.v7.bin
/.vs/gspro-r10/FileContentIndex/da671762-483d-4523-99a5-8d00b94e67d5.vsidx
/.vs/gspro-r10/FileContentIndex/f6d9d970-3688-46a2-b5b3-14679b63a57f.vsidx
/.vs/gspro-r10/v17/.futdcache.v2
/.vs/gspro-r10/v17/.suo
/.vs/gspro-r10/FileContentIndex/84ba426b-69ea-4558-81e2-e9042876a7e2.vsidx
/.vs/gspro-r10/FileContentIndex
